body {
  font-family: "Arial", sans-serif;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.mt-3,
.mt-4 {
  margin-top: 1rem;
}

.temp {
  font-size: 20px;
  font-weight: bold;
}

.card {
  margin-bottom: 20px;
  border: 2px solid lightblue;
}
